apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: flask-data-pvc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  # You may need to set storageClassName for your cluster (minikube often provides one by default)
